<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <header>
            <%- include('../includes/navigation.ejs') %>
            <%- include('../includes/pageTitle.ejs') %> 
        </header>
        <main>
            <h1>Nothing there!</h1>
        </main>
        <%- include('../includes/end.ejs') %>