<nav class="bg-light">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link <%= path === '/' ? 'active' : ''%>" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle <%= path.includes('/week2') ? 'active' : ''%>" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Week 2</a>
          <ul class="dropdown-menu bg-light">
            <li><a class="dropdown-item <%= path === '/week2' ? 'active' : ''%>" href="/week2">Shop</a></li>
            <li><a class="dropdown-item <%= path === '/week2/admin/add-product' ? 'active' : ''%>" href="/week2/admin/add-product">Add Product</a></li>
          </ul>
        </li>
      </ul>
</nav>