<!DOCTYPE html>
<html>

<head>
    <%- include('includes/head.ejs') %>
</head>

<body>
    <header>
        <%- include('includes/navigation.ejs')  %> 
    </header>
    <%- include('includes/pageTitle.ejs') %> 

    <main class="d-flex flex-wrap container w-50">
        <h4 class="w-100 text-center mb-5">Welcome! Click the links below, or use the navigation at the top of any page.</h4>
        <div class="w-25 mb-5 pb-5">
            <h2>Week 2</h3>
            <hr class="w-75">
            <div>
                <h4>Team Activity 02</h4>
                <p>Not Available</p>
            </div>
            <div>
                <h4>Prove 02</h4>
                <a href="/week2">Prove 2 Main Page</a>
            </div>
        </div>
        <div class="w-25 mb-5 pb-5">
            <h2>Week 3</h3>
            <hr class="w-75">
            <div  style="margin-bottom:16px;">
                <h4>Team Activity 03</h4>
                <a href="/week3/ta03">Team Activity 3 Main Page</a>
            </div>
            <div>
                <h4>Prove 03</h4>
                <a href="/week3">Prove 3 Main Page</a>
            </div>
        </div>
        <div class="w-25 mb-5 pb-5">
            <h2>Week 4</h3>
            <hr class="w-75">
            <!-- <div  style="margin-bottom:16px;">
                <h4>Team Activity 04</h4>
                <a href="/week4/ta04">Team Activity 4 Main Page</a>
            </div> -->
            <div>
                <h4>Prove 04</h4>
                <a href="/week4">Prove 4 Main Page</a>
            </div>
        </div>
        <div class="w-25 mb-5 pb-5">
            <h2>Week 5</h3>
            <hr class="w-75">
            <!-- <div  style="margin-bottom:16px;">
                <h4>Team Activity 05</h4>
                <a href="/week5/ta05">Team Activity 5 Main Page</a>
            </div> -->
            <div>
                <h4>Prove 05</h4>
                <a href="/week5">Prove 5 Main Page</a>
            </div>
        </div>
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

</body>

</html>